body{
    width:100%;
    height:100%;
    overflow-y: hidden;
    background:#000;
}

/* 背景动画css */
svg {
    display: block;
    margin: 0 auto;
  }
  
  path {
    fill: none;
    stroke: #f7b500;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
  }